/**{
    margin: 0;
    padding: 0;
}*/
img{
    
    width: 130px;
    height: 200px;
    border: 3px solid rgb(13, 13, 2);
    border-radius: 6px;
}
.About{
    padding: 20px;
    
}
.porchelvan{
    box-sizing: content-box;
    background-color: rgb(250, 250, 245);
    border: 0.5px solid black;
    padding: 10px;

}
.colour{
    background-color: rgba(245, 244, 244, 0.986);
    padding: 10px;
    border: 2px;
}
.About{
    display: flex;
    gap: 10px;
}
